@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
*{
    font-style: normal;
    font-family:'Ropa Sans';
}
body{
    margin: 0% ;
    box-sizing: border-box;
    padding: 0% ;
    background-color: black;
} 
header{grid-area: cabecalho;}
main{grid-area: conteudo;}
aside{grid-area: relacionados;}
footer{ grid-area: rodape;}

.l-app{
    margin: 0 auto;
    max-width: 600px;
    min-height: 1240px;
    display: grid;
    gap: 25px;
    grid-template-columns: 600px;
    grid-template-rows: 80px 560px 320px 280px;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "relacionados"
    "rodape";
    background-color: #ffffff;
}

header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}
.l-logo{
    position: absolute;
    width: 63px;
    height:25px;
    left: 20px;
    font-weight: 400;
    font-size: 50px;
    line-height: 32px;
    color: #777777;
}
.l-slogan{
    position: absolute;
    width: 80px;
    height: 22px;
    left: 140px;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    color: #AAAAAA;
}
.c-vector{
    position: absolute;
    width: 30px;
    height: 22px;
    right: 40px;
    background-color: #ffffff;
}

main{
    display: flex;
    width: 600px;
    margin: 0 auto;
    position: relative;
   
}
.l-banner{
    position: absolute;
    width: 600px;
    height: 240px;
}
.l-anuncio_1{
    position: relative;
    top: 260px;
    left: 19px; 
    width: 250px;
    height: 300px;
    background-color:rgba(206, 206, 206, 0.815);
}
.l-anuncio_2{
    position: relative;
    top: -40px;
    left: 333px ;
    height:300px;
    width: 250px;
    background-color:rgba(206, 206, 206, 0.815);
}

.l-status,.l-preco,.l-descricao,.l-img{
    position: absolute;
}

.l-img{
    width: 250px;
}
#status_a{background-color:rgba(81, 210, 117, 1);
    ;}
#status_b{background-color:rgba(220, 151, 48, 1);
    ;}
.l-status{
    left: 160px;
    top: 120px;
    border: 0;
    border-radius:25px;
    width:70px ;
    padding: 2px;
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    font-size: 26px
}
.l-preco{
    top: 120px;
    left: 10px;
    font-size: 30px;
    color: #888888;
  
}
.l-descricao{
    top: 170px;
    left: 10px;
    width: 235px;
    font-size: 15px;
    font-weight: 600;
    color: #555555;
}

aside{
    display: flex;
    width: 600px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.l-h1{
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 28px;
    font-style: normal;
    color: #888888;
}
.l-img_modelo1{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 563px;
}
.l-img_modelo2{
    position: absolute;
    top: 150px;
    left: 20px;
    width: 563px;
}
.l-img_modelo3{
    position: absolute;
    top: 250px;
    left: 20px;
    width: 563px;
    
}

footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #333333;
}
.l-gps{
    position: absolute;
    top: 50px;
    left: 30px;
    border-radius:15px; 
    width: 280px;
    height: 200px;
}
.l-endereco{
    position: absolute;
    right: 74px;
    top: 40px;
    width: 175px;
    height: 60px;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
}
.l-social{
    position: absolute;
    right: 11px;
    top: 150px;
    width: 240px;
    height: 20px;
    font-weight: 200;
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
}
.l-box_icons{
    position: absolute;
    width: 240px;
    height: 20px;
    right: 21px;
    bottom: 65px;
}
.l-icons{
    margin: 10px;
}
